<template name="bookmarks">
  <div class="page bookmarks">
    {{> nav title='Tell us about Dr. Perry' subtext="satisfaction survey"}}

    <div class="content-scrollable" style="padding: 5%">
        <br/>
        <br/>
        <br/>

      <h2> Did Dr. Perry answer your questions today?</h2>
        <br/>

        <form action="">
            <input type="radio" name="gender" value="male" style="margin-bottom: 2%"> Yes<br>
            <input type="radio" name="gender" value="female" style="margin-bottom: 2%"> Some but not all Questions<br>
            <input type="radio" name="gender" value="other" style="margin-bottom: 2%"> No
        </form>



    </div>
  </div>
</template>