<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/QDOC.png" alt="Local Market"/>
        </h1>
        <span class="hours"><span  style="font-style: italic; font-size: 1.4em"> </span></span>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">Health Questions Made easy</span>

      </div>

      <h2 class="list-title">Upcoming Appointment:</h2>
      <h3 style="font-weight: 600" class="list-subtitle">Monday, March 7</h3>

       <br/>
        <button style="margin-left:10% ;width: 80% ;height: 12%; margin-bottom:2%; background-color: #2ecc71; border-radius: 10px;" type="button">
        <a href="{{pathFor 'feed'}}" class="{{activePage 'feed'}}">
            <h2 class="title-menu" style="color: white">Ask Question</h2>
        </a>
        </button>

        <button style="margin-left:10% ;width: 80% ;height: 12%; background-color: #1abc9c; border-radius: 10px" type="button">
            <a href="{{pathFor 'feed'}}" class="{{activePage 'feed'}}">


        <h2 class="title-menu" style="color: white">Question List</h2>

            </a>
        </button>
        <!--<optgroup label="Firefox">-->
            <!--<option value="2.0 or higher"> Checkup </option>-->
            <!--<option value="1.5.x">Firefox 1.5.x</option>-->
            <!--<option value="1.0.x">Firefox 1.0.x</option>-->
        <!--</optgroup>-->






    </div>

  </div>
</template>